<!DOCTYPE html>
<html>
<head>
    <title>Weather App</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/css/styles.css">
</head>
<body>
<div class="container">
    <h1 class="text-center">Weather App</h1>

    <div class="row justify-content-center weather-container">
        {% for city in weather_data %}
        <div class="col-sm-2">
            <div class="weather-card-wrapper">
                <div class="weather-card" style="background-image: url('{{ city.background_image }}');">
                    <div class="card-body">
                        <h5 class="card-title">{{ city.city }}</h5>
                        <p class="card-text">Temperature: {{ city.temperature }}°C</p>
                        <p class="card-text">Weather: {{ city.description }}</p>
                        <p class="card-text">Humidity: {{ city.humidity }}%</p>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}

        <h6>Coldest City: {{ coldest_city }} Average Temperature: {{ avg_temperature }}°C</h6>

    </div>

    <div class="row justify-content-center">
        <div class="col-sm-6">
            <h2 class="text-center">Check the weather for your city</h2>
            <form id="search-form" action="/" method="POST">
                <div class="input-group mb-3">
                    <input type="text" class="form-control" name="city" placeholder="Enter city name" required>
                    <div class="input-group-append">
                        <button class="btn btn-primary" type="submit">Search</button>
                    </div>
                </div>
            </form>
            <div id="searched-city-info" class="mt-4"></div>
            {% if error_message %}
            <p class="text-center text-danger">{{ error_message }}</p>
            {% endif %}
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<script src="../static/js/script.js"></script>

</body>
</html>
